.grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 12% 75%  13%;
  grid-template-areas: "header header header header" "main main main main" "footer footer footer footer"; }

header {
  grid-area: header;
  background-color: beige;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }
  header nav {
    width: 70%; }
    header nav ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      list-style-type: none; }
      header nav ul li a {
        margin: 5%; }
      header nav ul li:hover {
        transform: translate(-20px, 5px); }
    header nav img {
      width: 15%;
      height: auto; }

main {
  grid-area: main;
  background-image: url(../../assets/img/header9.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: right; }
  main h1 {
    margin-bottom: 5%; }
  main button {
    margin-top: 5%;
    width: 120px;
    height: 30px; }

footer {
  grid-area: footer;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer section {
    width: 50%; }
    footer section P {
      text-align: justify;
      margin: 5% 15% 5% 15%;
      font-size: 1.20em; }
    footer section img {
      width: 17%; }
      footer section img:hover {
        border-radius: 25%;
        background-color: aqua; }
    footer section ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: flex-end;
      text-align: center;
      list-style-type: none; }
      footer section ul li:hover {
        transform: translate(0px, 15px); }

/* animaciones */
main {
  animation-name: main_background;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-duration: 13s;
  animation-delay: 10s; }

#logo:hover {
  animation: transparencia 3s;
  transform: scale(1.2, 1.2); }

@keyframes transparencia {
  0% {
    opacity: 1; }
  10% {
    opacity: .75; }
  20% {
    opacity: .50; }
  30% {
    opacity: .25; }
  40% {
    opacity: 0; }
  50% {
    opacity: .25; }
  60% {
    opacity: .50; }
  70% {
    opacity: .75; }
  80% {
    opacity: 1; }
  100% {
    opacity: 1; } }

* {
  margin: 0;
  padding: 0; }

body {
  height: 100vh; }
