.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 12% 75%  13%;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer"
}
