header{
    grid-area: header;
    background-color: beige;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

nav{  
    width: 70%;
    ul{
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        list-style-type: none;
        li{
            a{margin:5%;
            }
            &:hover{
                transform: translate(-20px,5px);
                }
        }
        }
    img{
    width: 15%;
    height: auto;
    }
    }
}




