header{
    grid-area: header;
    background-color:map-get($map:$pagebackground , $key:pageingresousuario );
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

nav{  
    width: 70%;
    ul{
        display: flex;
        flex-direction:row;
        flex-wrap: nowrap;
        list-style-type: none;
        li{
            a{margin:5%;
    
            }
            &:hover{
                transform: translate(-20px,5px);
                }
        }
        }
    img{
    width: 15%;
    height: auto;
    }
    }
}

footer{
    grid-area: footer;
    background-color:map-get($map:$pagebackground , $key:pageingresousuario );
    display: flex;
    justify-content:center;
    align-items: center;
    
    section{
        width: 50%;
        P{
            text-align: justify;
            margin: 5% 15% 5% 15%;
            font-size: 1.20em;
        }
        img{
        width: 17%;
        &:hover{
            border-radius: 25%;
            background-color: aqua;
        }
        }

        ul{
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    align-items: flex-end;
    text-align: center;
    list-style-type: none;
        li{
            &:hover{
            transform: translate(0px,15px);
            }
    }
} 
}
}




