
@import "../layou/variables";
@import "../layou/grid";
@import "../layou/header_footer";
@import "../layou/main";
@import "../layou/animaciones";
@import "../layou/media";


*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}

